.run-results {
    overflow: auto;
    height: 100%;
    padding: .25rem 1rem 0;
}

.run-result-item__test-results {
    margin-left: 1.2rem;
}

.result-type {
    font-weight: normal;
    margin: 5px 0;
    padding: 5px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 4px;
    overflow: auto;
}

.result-type--passed, .result-type--failed {
    display: flex;
}

.result-type--passed svg, .result-type--failed svg {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.result-type--passed {
    color: #61a56f;
}

.result-type--passed svg {
    fill: #61a56f;
}

.result-type--failed {
    color: #c04343;
}

.result-type--failed svg {
    fill: #c04343;
}

.result-type--log {
    border: 1px solid $ main-line-color;
    border-radius: 3px;
    padding: 10px;
    position: relative;
    margin-bottom: .5rem;
}
